/* ===== CSS RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===== LAYOUT GRID ===== */
body {
    display: grid;
    min-height: 100vh;
    gap: 10px;
    font-family: sans-serif;
    grid-template-areas:
        "header header"
        "main   aside"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header nav a {
    margin-left: 15px;
    color: #d3c261fd;
    font-weight: bold;
}

main {
    grid-area: main;
    overflow-y: auto;
}

main article {
    margin-bottom: 2rem;
    border: 2px solid #5a421f;;
    border-radius: 8px;
    padding: 15px;
}

section {
   grid-area: main;
}


aside {
    grid-area: aside;
    overflow-y: auto;
}

aside article,h2 {
    margin-bottom: 1.25rem;
    border: 2px solid #5a421f;;
    border-radius: 8px;
}

footer {
    grid-area: footer;
    text-align: center;
}
/* ===== FIM DO LAYOUT GRID ===== */

header, main, section, aside, footer {
    background-color: #f6efe3; 
    border: 2px solid #5a421f;  
    border-radius: 8px;
    padding: 20px;
}
